.header {
  margin-top: 25px;
  margin-bottom: 25px;
}
.border {
  border-bottom: 1px solid rgba(96, 96, 96, 0.3);
  padding-bottom: 20px;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list {
  display: flex;
  text-align: center;
  gap: 35px;
}

.item {
  display: inline-grid;
}
.form {
  border-radius: 10px;
  background-color: #008dff;
}

.header__input {
  width: 580px;
  padding: 12px 10px;
  border-radius: 10px;
  border: 2px solid#008dff;
}
.header__btn {
  background-color: #008dff;
  color: white;
  padding: 7px 10px;
  border: none;
  cursor: pointer;
}

.sapn__pay {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
}
.header__bottom {
  margin-top: 25px;
}
.bottom__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b {
  display: flex;
  align-items: center;
  gap: 3px;
}
.news {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 500;
  color: #282830;
}
